.nonePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  display: none;

  .nonePage-image{
    @include img-png(nofound);
    width: 80px;
    height: 80px;
    margin-bottom: 10px
  }
  h4 {
    @include font($btn-color, 700, $fontSize-h4);
    text-align: center;
    line-height: 1.6;
  }
}