// 顏色
$primary: #6E7D60;   // 主色
$secondary: #65895F; // 輔色
$tertiary: #E0DA48;  // 輔色
$accent-one: #FF725E;    // 強調色
$accent-two: #BEA363;    // 強調色
$bg-primary: #f8f8f8; // 背景色

// gray-color
$white: #FFF; // 白色
$gray-100: #E5E5E5; // 底線
$gray-200: #9E9E9E; // 大標
$gray-300: #737373; // 小標
$gray-400: #646464; // 內文
$gray-500: #2F2F2F; // icon
$gray-600: #1E1E1E; // 提示字

// 功能用色
$btn-color: #7F977B; // 按鈕顏色

// 字體大小
$fontSize-base: 16px; // 預設
$fontSize-h1: 48px;
$fontSize-h2: 36px;
$fontSize-h3: 22px;
$fontSize-h4: 20px;
$fontSize-h5: 18px;
$fontSize-h6: 14px;